.inputBox {
    display: block;
    color: #333;
    font-size: 16px;
    padding: 5px 8px;
    width: 400px;
    margin-top: 20px;
}

.inputBoxShort {
    display: inline-block;
    color: #333;
    font-size: 16px;
    padding: 5px 8px;
    width: 60px;
    margin-top: 20px;
    margin-right: 5px;
}

.inputContainer {
    padding: 20px;
}

.btn {
    font-size: 16px;
    cursor:pointer;
    background: #229bff;
    border: 1px solid #229bff;
    padding: 5px 15px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 20px;
}

.btnDisabled {
  font-size: 16px;
  cursor:default;
  background: #999;
  border: 1px solid #999;
  padding: 5px 15px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 20px;
}

.btn:hover {
    background: #2A69D2;
    border: 1px solid #2A69D2;
}

.groupTitle {
    font-size: 24px;
    color: #333;
    font-weight: bold;
}

.menuGap {
    padding-top: 64px;
}

.linkSpan {
    cursor: pointer;
    color: #229bff;
}

.inputExplainer {
    color: #333;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 0px;
}

.errorExplainer {
    color: #dd2010;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 0px;
}